.top
{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;

    float: left;

    display: inline;
}

.top > span
{
    padding: 10px 30px 10px 30px;

    background-color: #1794ac;

    color: white;
}

.top > span:hover 
{
    background-color: #a1d4e2;
}

.top-list
{
    display: none;

    padding: 20px 0 0 0;

    background-color: #a1d4e2;
}


.top-list ul
{
    display: none;

    list-style: none;
    
    padding: 0;
}

.top a
{
    text-decoration: none;
}

.top-list ul li:hover
{
    background-color: #f0f0f0;
}

.top:hover .top-list
{
    display: block;
}

.top div:hover .top-list-content
{
    display: inline;
}